<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997217358178-0rb6aimmvbc6kbf40a8bole62o76g24t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997217358178-0rb6aimmvbc6kbf40a8bole62o76g24t</string>
	<key>API_KEY</key>
	<string>AIzaSyDmq1rHATVULq4fkz1cDxqTbwQqTfaRG1k</string>
	<key>GCM_SENDER_ID</key>
	<string>997217358178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codes.salih.nutrice</string>
	<key>PROJECT_ID</key>
	<string>nutrice-f2713</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrice-f2713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997217358178:ios:ddc0ac7aee048f96addc3b</string>
</dict>
</plist>